@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Maname&family=Noto+Serif+Khitan+Small+Script&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

/* Swiper Arrows */
.mySwiperArrows .swiper-button-prev,
.mySwiperArrows .swiper-button-next {
  color: blue;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px; /* Adjust padding as needed */
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.mySwiperArrows .swiper-button-prev {
  left: 10px; /* Adjust as needed */
}

.mySwiperArrows .swiper-button-next {
  right: 10px; /* Adjust as needed */
}

/* Font Styles */
.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 500;
  font-style: normal;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* General Styles */
.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-40 xl:px-40 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.home-content {
  @apply flex-1 xl:justify-center justify-start flex flex-col gap-10;
}

.head-text {
  @apply xl:text-[5.5rem] text-[3rem] xl:leading-[8rem] leading-[4rem] mt-16 xl:mt-0 font-black text-gray-500;
}

.download-btn {
  @apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
}

.editortabs-container {
  @apply glassmorphism w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.aipicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
}

.aipicker-textarea {
  @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.sketch-picker {
  width: 170px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}

.sketch-picker > div:nth-child(3) {
  display: none !important;
}

/* Product Styles */
.product {
  position: relative; /* Ensure proper stacking context */
  border-radius: 15px;
}

.product .imgbox {
  height: 100%;
  box-sizing: border-box;
}

.product .imgbox img {
  display: block;
  border-radius: 15px;
}

.details {
  width: 100%;
  bottom: 0; /* Adjust as needed */
  background: rgba(255, 255, 255, 0.9); /* Ensure visibility */
  padding: 10px;
  box-sizing: border-box;
  transition: .5s;
  color: black; /* Ensure readability */
  z-index: 1; /* Ensure it's below other content */
}

.details h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
}

.details .price {
  position: absolute;
  top: 0;
  right: 20px;
  font-weight: bold;
  font-size: 20px;
}

/* Quantity Section */
.quantity-section {
  position: relative;
  z-index: 2; /* Ensure it's above other elements if needed */
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-section input {
  text-align: center;
  width: 50px; /* Adjust width if necessary */
}

.quantity-section button {
  background-color: blue; /* Customize button color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.quantity-section button:hover {
  background-color: darkblue; /* Customize hover color */
}

/* Latest Product Styles */
.LatestProduct {
  position: relative; /* Ensure proper stacking context */
  border-radius: 15px;
}

.LatestProduct .imgbox {
  height: 100%;
  box-sizing: border-box;
}

.LatestProduct .imgbox img {
  display: block;
  border-radius: 15px;
}

.Latestdetails {
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: .5s;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.LatestProduct:hover .Latestdetails {
  bottom: 0px;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  text-shadow: none;
}

.Latestdetails h2 {
  margin: 0;
  padding: 0;
  width: 100%;
}

.Latestdetails .Latestprice {
  position: absolute;
  top: 0;
}

/* Miscellaneous */
.border-shadow {
  box-shadow: 1px 1px 5px blue;
}

.image-box {
  box-shadow: inset 0px 0px 0px 2px #f00;
}

.shadow_inner {
  box-shadow: inset 0px 0px 5px 0.01px #ccc;
}

.text-shadow {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}




































/*********************************************/
/*COLORS*/
/*********************************************/
body {
  font-weight: 400;
  font-size: 14px;
  min-width: 320px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
}

a {
  text-decoration: none;
  color: black;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
}

input,
input:focus,
input:active {
  outline: none;
}

button,
button:active,
button:focus,
button:hover {
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #000;
}

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 1000px;
  padding: 0;
  margin: 0 !important;
  background: radial-gradient(rgb(48, 61, 85), rgb(47, 51, 82));
}

.wrappen_block {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainBackground {
  width: 100%;
  min-height: 1000px;
  background: url("https://github.com/BlackStar1991/CardProduct/blob/master/app/img/bgRectangl.png?raw=true") left center no-repeat, url("https://github.com/BlackStar1991/CardProduct/blob/master/app/img/bgPhons.png?raw=true") center center no-repeat, url("https://github.com/BlackStar1991/CardProduct/blob/master/app/img/layer-3-copy-2.png?raw=true") center center no-repeat, url("https://github.com/BlackStar1991/CardProduct/blob/master/app/img/mainBg.png?raw=true") center center no-repeat;
}

.productCard_block {
  position: relative;
  margin: 190px auto 0;
  max-width: 800px;
  min-height: 600px;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

/* LEFT SIDE */
.productCard_leftSide {
  position: relative;
  width: 100%;
  min-height: 600px;
}

.productCard_brendBlock {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 184px;
  max-height: 75px;
  background-color: #272727;
  z-index: 2;
}
.productCard_brendBlock__imageBlock {
  display: block;
  height: 100%;
}
.productCard_brendBlock__imageBlock img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sliderBlock {
  position: relative;
  height: 100%;
  margin-left: 70px;
  margin-top: 89px;
  margin-bottom: 46px;
  overflow: hidden;
}

.sliderBlock_items {
  position: relative;
  display: block;
  width: 100%;
  height: 403px;
}
.sliderBlock_items__itemPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transition: opacity 1s;
}
.sliderBlock_items__showing {
  opacity: 1;
  z-index: 3;
}
.sliderBlock_items:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("https://github.com/BlackStar1991/CardProduct/blob/master/app/img/decorElements/DecorRectangle.png") 50% 50% no-repeat;
  opacity: 0.2;
  z-index: 4;
}

.sliderBlock_controls {
  width: 100%;
}
.sliderBlock_controls__navigatin {
  margin-top: 8px;
  width: 100%;
}
.sliderBlock_controls__wrapper {
  margin: 1% auto;
  width: 110px;
  height: 20px;
}
.sliderBlock_controls__arrow {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #536dfe;
  transition: 300ms all;
  background-color: #0d2660;
  border-radius: 50%;
}
.sliderBlock_controls__arrow:hover {
  background-color: #536dfe;
}
.sliderBlock_controls__arrow i {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  margin-top: -50%;
  color: #fff;
  transition: 300ms all;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.sliderBlock_controls__arrowBackward {
  float: left;
}
.sliderBlock_controls__arrowForward {
  float: right;
}

.sliderBlock_positionControls {
  display: block;
  width: 100%;
  height: 3px;
  margin: 30px auto 0;
}
.sliderBlock_positionControls__paginatorItem {
  float: left;
  width: 18px;
  height: 10px;
  margin-left: 5px;
  background-color: #d7d7d7;
  cursor: pointer;
}
.sliderBlock_positionControls__paginatorItem:first-child {
  margin-left: 31%;
}
.sliderBlock_positionControls__active {
  background-color: #536dfe;
}

/*   RIGHT SIDE */
.productCard_rightSide {
  position: relative;
  padding-top: 34px;
  padding-left: 27px;
  padding-right: 40px;
  width: 100%;
  min-height: 600px;
}

.block_specification {
  float: right;
  margin-top: 8px;
  cursor: pointer;
  color: #536dfe;
  transition: all 0.5s;
}
.block_specification__button {
  display: inline-block;
  margin-right: 7px;
  height: 100%;
  font-size: 17px;
  text-transform: uppercase;
  transform: rotate(0);
  transition: transform 0.5s;
  transform-origin: center center;
}
.block_specification:hover .block_specification__button__rotate {
  transition: transform 0.5s;
  transform: rotate(1turn);
}
.block_specification:hover {
  color: #f1425d;
}

.block_specification__text {
  width: 30px;
  height: 11px;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.block_model {
  display: inline-block;
  color: #263238;
  font-size: 12px;
  opacity: 0.9;
}

.block_name {
  width: 100%;
  color: #263238;
  font-weight: 400;
  line-height: 35px;
}
.block_name__mainName {
  margin: 0;
  padding: 0;
  font-size: 29px;
}
.block_name__addName {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.block_product {
  position: relative;
  width: 100%;
}
.block_product__advantagesProduct {
  width: 271px;
  height: 41px;
  margin-top: 14px;
  color: #646b6f;
  font-size: 17px;
  line-height: 24px;
}
.block_product__link {
  line-height: 23px;
  color: #536dfe;
}

.block_informationAboutDevice {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.block_descriptionInformation {
  width: 304px;
  height: 104px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #263238;
}

.block_descriptionCharacteristic {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 30;
  transition: left, ease-out, 0.5s;
}
.block_descriptionCharacteristic__active {
  left: 0;
}

@keyframes moveCharackeristic {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
.block_specificationInformation_table {
  position: relative;
  height: 90%;
  background-color: #fff;
}
.block_specificationInformation_table tr {
  border-collapse: collapse;
  border: 1px solid #000;
}
.block_specificationInformation_table th {
  border: 1px solid #000;
  font-weight: bold;
}
.block_specificationInformation_table td {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #000;
}

.block_rating {
  width: 100%;
  margin-top: 33px;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

.block_rating__stars {
  border: none;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
}

input[type=checkbox] + label,
input[type=radio] + label {
  margin: 0;
}

.block_rating__stars > input {
  display: none;
}

.block_rating__stars > label:before {
  margin: 5px;
  font-size: 15px;
  font-family: "FontAwesome";
  display: inline-block;
  content: "\f005";
}

.block_rating__stars > .half:before {
  content: "\f089";
  position: absolute;
}

.block_rating__stars > label {
  color: #c9c9c9;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.block_rating__stars > input:checked ~ label,
.block_rating__stars:not(:checked) > label:hover,
.block_rating__stars:not(:checked) > label:hover ~ label {
  color: #fccf47;
}

/* hover previous stars in list */
.block_rating__stars > input:checked + label:hover,
.block_rating__stars > input:checked ~ label:hover,
.block_rating__stars > label:hover ~ input:checked ~ label,
.block_rating__stars > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.block_rating__avarage {
  margin-left: 31px;
  color: #f1425d;
  font-size: 15px;
  line-height: 35px;
}

.block_rating__reviews {
  margin-left: 6px;
  color: #656c6f;
  font-size: 13px;
}

.block_price {
  margin-top: 29px;
  width: 100%;
}
.block_price__currency {
  padding: 0;
  margin: 0;
  vertical-align: top;
  color: #f1425d;
  font-size: 26px;
  font-weight: 600;
}
.block_price__shipping {
  padding: 0;
  margin: 0;
  color: #a2a9ad;
  font-size: 12px;
}

.radio_button {
  position: absolute;
  opacity: 0;
}

.block_goodColor {
  margin-top: 29px;
  width: 100%;
}
.block_goodColor__allColors {
  width: 100%;
  margin-top: 14px;
}
.block_goodColor__radio {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-left: 10% !important;
  background-color: #e8e6e3;
  cursor: pointer;
}

.radio_button:checked + .block_goodColor__radio {
  width: 25px;
  height: 25px;
  box-shadow: 0 0 5px 3px rgba(83, 109, 254, 0.5);
  border: 2px solid #fff;
}

.block_goodColor__black {
  background-color: #3c383a;
}

.block_goodColor__silver {
  background-color: silver;
}

.text_specification {
  padding: 0;
  color: #37474f;
  font-size: 13px;
}

.block_quantity {
  position: relative;
  height: 46px;
  margin-top: 45px;
}
.block_quantity span {
  display: inline-block;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}
.block_quantity__chooseBlock {
  vertical-align: top;
  height: 100%;
  margin: 0;
  padding: 0;
}
.block_quantity__number {
  display: inline-block;
  float: left;
  width: 52px;
  height: 46px;
  border: 1px solid #ddd;
  font-size: 18px;
}
.block_quantity__number::placeholder {
  color: #403f40;
  font-size: 18px;
  line-height: 35px;
}
.block_quantity__button {
  display: inline-block;
  position: relative;
  float: left;
  width: 20px;
  height: 50%;
  margin: 0;
  padding: 0;
  margin-left: 11px;
  font-size: 0;
  cursor: pointer;
}
.block_quantity__button:hover, .block_quantity__button:focus {
  background-color: transparent;
}
.block_quantity__button:hover:before, .block_quantity__button:focus:before {
  color: #536dfe;
}
.block_quantity__up:before {
  content: "\f106";
  width: 11px;
  height: 6px;
  font-family: "FontAwesome";
  color: #37474f;
  font-size: 18px;
}
.block_quantity__down:before {
  content: "\f107";
  width: 11px;
  height: 6px;
  font-family: "FontAwesome";
  color: #37474f;
  font-size: 18px;
}

.button.button_addToCard {
  width: 147px;
  height: 46px;
  margin-top: 43px;
  margin-bottom: 0;
  padding: 0;
  color: #fff;
  background-color: #536dfe;
  font-size: 17px;
  transition: all 0.3s;
}
.button.button_addToCard:hover {
  background-color: #0d2660;
}

.aboutMe a {
  display: block;
  width: 30%;
  position: fixed;
  bottom: 0.1%;
  left: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.SizeChart__button__rotate {
  transition: transform 0.5s;
  transform: rotate(1turn);
}

.SizeChart__button__rotate_back {
  transition: transform 0.5s;
  transform: rotate(-1turn);
}





























/* ---------------------Cart----------------- */
